
body {
    background: url("img/white-wood.jpg");
    font-size: 25px;
    text-align: center;
       
}

ol {
    font-weight: bolder;
}

li {
    text-align: start;
}

img {
    border: groove;
}

a {
    text-decoration: none;
    color: fuchsia;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}