 

h1 {
    color: rgb(112, 199, 61);
    font-size: 3em;
    text-align: center;
}

body {
    background: url("img/shattered-island.gif");
    color: rgb(219, 216, 34);
    font-size: 25px
}

div {
    text-align: center;
    
}

.pic {
    width: 520px;
    margin-top: 50px;
    margin-left: 170px;
    float: left;
   
}

.list {

    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 170px;
}

a:link {

    color: hotpink;
}

.link {
    
    text-align: center;
    color: antiquewhite;
    
}

img {
    
    display: block;
    border: ridge 10px;
    border-color: rgb(112, 199,61);
    width: 500px;
    margin: (100px, 100px);

}

#framedpicture {
    position: relative;
}

#work:hover {
  
    position: relative;   
}
#work:hover:after {

    content: url(img/likestowork.jpg);
    display: block;
    position: absolute;
    left: 100px;
    
}

