 

h1 {
    color: rgb(112, 199, 61);
    font-size: 3em;
    text-align: center;
}

body {
    background: url("img/shattered-island.gif");
    color: rgb(219, 216, 34);
    font-size: 25px
}
a {
    text-decoration: none;
    color: honeydew;
        
    }

div {
    text-align: center;
    
}

.pic {
    width: 520px;
    margin-top: 50px;
    margin-left: 170px;
    float: left;
   
}

.list {

    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 170px;
}


img {
    
    display: block;
    border: ridge 10px;
    border-color: rgb(112, 199,61);
    width: 500px;
    margin: (100px, 100px);
}


#kayaklittle:hover {
  
    position: relative;   
}
#kayaklittle:hover:after {

    content: url(img/kayakinglittle.jpg);
    display: block;
    position: absolute;
    right: 200px;
}

#kayakbig:hover {
  
    position: relative;   
}
#kayakbig:hover:after {

    content: url(img/kayakingnow.jpg);
    display: block;
    position: absolute;
    right: 400px;
    bottom: 50px;
}

#dress:hover {
  
    position: relative;   
}
#dress:hover:after {

    content: url(img/dress.jpg);
    display: block;
    position: absolute;
    right: 200px;
    bottom: 50px;
}

#pets:hover {
  
    position: relative;   
}
#pets:hover:after {

    content: url(img/pets.jpg);
    display: block;
    position: absolute;
    right: 300px;
    bottom: 150px;
}

#work:hover {
  
    position: relative;   
}
#work:hover:after {

    content: url(img/likestowork.jpg);
    display: block;
    position: absolute;
    right: 100px;
    bottom: 20px;
}

#travel1:hover {
  
    position: relative;   
}
#travel1:hover:after {

    content: url(img/travel.jpg);
    display: block;
    position: absolute;
    right: 50px;
    bottom: 300px;
}

#travel2:hover {
  
    position: relative;   
}
#travel2:hover:after {

    content: url(img/travelsomemore.jpg);
    display: block;
    position: absolute;
    right: 150px;
    bottom: 150px;
}

